<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Key4mate</title>

<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/dist/css/clear.css">
<link rel="stylesheet" href="/dist/css/fanta.css">
<link rel="stylesheet" href="/dist/css/slidebars.css">
<link rel="stylesheet" href="/dist/css/style.css">
