<!-- views/partials/header.ejs -->

<div id="fixed-top" class="sb-slide">
    <header class="menu">
        <div class="content">
            <div id="toggleBar" class="sb-toggle-right">
                <div class="hm-line"></div>
                <div class="hm-line"></div>
                <div class="hm-line"></div>
            </div>
            <a href="/" class="header-logo">
                <img src="/library/img/logo.png" alt="">
            </a>
            <nav class="navbar">
                <ul>
                    <li><a href="/catalog">Каталог уроков</a></li>
                    <li><a href="/blog">Блог</a></li>
                    <li><a href="/about">О key4mate</a></li>
                    <li><a href="/contacts">Контакты</a></li>
                </ul>
                <div class="clearfix"></div>
            </nav>

            <div class="customer-group">
                <!--НЕЗАРЕГИСТРИРОВАННЫЙ ПОЛЬЗОВАТЕЛЬ-->

                <div class="login-box">
                    <a href="/login">Вход / Регистрация</a>
                </div>

                <!--ЗАРЕГИСТРИРОВАННЫЙ ПОЛЬЗОВАТЕЛЬ-->

                <ul class="logged-in">
                    <!--<li>-->
                    <!--<a href="" class="profile"><span class="icon icon-person"></span> Мой профиль</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="">Мои покупки</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="" class="logout">Выход</a>-->
                    <!--</li>-->
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </header>
</div>